# Ignore virtual environment
venv/

# Ignore large model file
rf_final_model.pkl

# Ignore other pickle files (optional, if you want)
*.pkl

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db